<section class="contact iflex">
    <div class="title-area bottom-line">
        <h2 class="bold">지금, 상담하세요.</h2>
    </div>
    <div class="fc iflex white">
        <div>
            <h6>1<br />menu</h6>
        </div>
        <p>content</p>
        <a href="#contact" class="contact-btn">
            <p>1522-9959</p>
        </a>
    </div>
    </div>
    <div class="fc iflex white">
        <div>
            <h6>2<br />menu</h6>
        </div>
        <p>content</p>
        <a href="#contact" class="contact-btn">
            <p>enter →</p>
        </a>
    </div>
</section>

<link rel='stylesheet' href='/static/css/contact.css' type='text/css' />