<section class="section profile">
    <div>
        <h2 class="bold">Header</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse a quaerat accusantium quidem enim ullam,
            voluptatum et voluptatem ipsum impedit expedita, tenetur cupiditate, modi ut deleniti. Cumque, mollitia
            porro!</p>
    </div>
    <div>
        <!-- Slider main container -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="profile-swiper">
                        <div>
                            <img src="https://placehold.co/800x1000">
                            <div>
                                <h6 class="bold">main</h6>
                                <h7>main</h7>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <h7 class="bold">sub</h7>
                                </div>
                                text<br>text<br>text
                            </div>
                            <div>
                                <div>
                                    <h7 class="bold">sub</h7>
                                </div>
                                text<br>text<br>text
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="profile-swiper">
                        <div>
                            <img src="https://placehold.co/800x1000">
                            <div>
                                <h6 class="bold">main</h6>
                                <p>main</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <h7 class="bold">sub</h7>
                                </div>
                                text<br>text<br>text
                            </div>
                            <div>
                                <div>
                                    <h7 class="bold">sub</h7>
                                </div>
                                text<br>text<br>text
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>

<link rel='stylesheet' href='/static/lib/swiper-bundle.min.css' type='text/css' />
<script type='text/javascript' src='/static/lib/swiper-bundle.min.js'></script>

<link rel='stylesheet' href='/static/css/profile.css' type='text/css' />
<script type='text/javascript' src='/static/js/profile.js'></script>