<section class="section solution">
    <div>
        <div>
            <div>
                <h5 class="bold">Subject</h5>
                <p class="top-line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corporis doloremque
                    in hic? Iste,
                    rerum rem cumque, doloremque libero inventore similique, quae aliquid at laudantium quas molestias
                    aperiam dolores iure?</p>
            </div>
            <div>
                <img src="https://placehold.co/1200x800">
            </div>
        </div>
        <br>
        <div>
            <div>
                <h5 class="bold">Subject</h5>
                <p class="top-line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corporis doloremque
                    in hic? Iste,
                    rerum rem cumque, doloremque libero inventore similique, quae aliquid at laudantium quas molestias
                    aperiam dolores iure?</p>
            </div>
            <div>
                <img src="https://placehold.co/1200x800">
            </div>
        </div>
    </div>
</section>