//- extends layout.pug

block trucks
    section.trucks
        h2 트럭
        table(style='width:100%' border='1').trucks-result
            tr 
                th ID 
                th Loaded Bike Count 
                th Location ID
            for truck of trucks
                tr
                    td= truck.id
                    td= truck.loaded_bikes_count 
                    td= truck.location_id