<footer>
    <div class="site-info">
        <div>
            <img class="logo" src="/static/img/menu_FILL0_wght400_GRAD0_opsz24.svg">
            <div class="info-row">
                <h9>sub</h9>
                <h9>content</h9>
            </div>
            <div class="info-row">
                <h9>sub</h9>
                <h9>content</h9>
            </div>
        </div>
    </div><!-- .site-info -->
    <div class="footer-bottom iflex">
        <h9>© 2024 SomeCorperation. All Rights Reserved.</h9>
        <div class="iflex">
            <a href="/index.html">
                <h9>이용약관</h9>
            </a>
            <a href="/index.html">
                <h9>개인정보처리방침</h9>
            </a>
        </div>
    </div>
</footer>

<link rel='stylesheet' href='/static/css/footer.css' type='text/css' />